.au-advance-pack-services,
.au-advance-pack-services__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.au-advance-pack-services__item {
  margin-bottom: 2px;
}

.au-advance-pack-service {
  padding-left: 16px;
  position: relative;
}

.au-advance-pack-service__label {
  left: 0;
  position: absolute;
  top: 0;
}
