@import "global-mixins-vars.scss";
@import "dialogs/delete-list-form-confirm";
@import "dialogs/last-dialogs";
@import "dialogs/list-menu";
@import "dialogs/list-pager";
@import "dialogs/preview";
@import "dialogs/message-box";
@import "dialogs/time";

.main__wrapper {
  @media (min-width: $media-medium-width) {
    padding-left: 200px;
    @supports (display: flex) {
      padding-left: 0;
    }
  }
}

.main__aside {
  @media (min-width: $media-medium-width) {
    margin-left: -200px;
    width: 200px;
    @supports (display: flex) {
      flex-basis: 200px;
      margin-left: 0;
    }
  }
}

.au-dialogs-prev-version {
  display: inline-block;
  margin-top: 8px;
}
