.au-dialog-chat__list {
  margin-bottom: 22px;

  @media (max-width: $media-big-width-max) {
    bottom: 86px;
    margin-bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 0 $grid-gutter-width;
    position: fixed;
    right: 0;
    top: 90px;
  }
}

.au-dialog-chat__form-place {
  @media (max-width: $media-big-width-max) {
    bottom: 0;
    height: 94px;
    left: 0;
    padding-top: 8px;
    position: fixed;
    width: 100%;
  }
}

.au-dialog-chat__form-cnt {
  & .main {
    min-height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.au-dialog-chat_form-fixed {
  .au-dialog-chat__form-cnt {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}

.au-dialog-chat_form-in-flow {
  .au-dialog-chat__form-cnt {
    position: relative;
    z-index: 5;
  }

  .main {
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  .main__wrapper {
    display: block;
  }

  .main__aside, .main__appendix {
    display: none;
  }

  .main__content {
    display: block;
    padding: 0;
  }
}
