.au-dialogs-contacts-list__header {
  display: block;

  @add-mixin clearfix;
}

.au-dialogs-contacts-list__title {
  display: block;
  float: left;
}

.au-dialogs-contacts-list__micropager-wrapper {
  display: block;
  float: right;
}

.au-dialogs-contacts-list-col_person {
  width: 40%;
}

.au-dialogs-contacts-list-col_comment {
  width: 60%;
}

.au-dialogs-contacts-list-col_action {
  width: 50px;
}

.au-dialogs-contacts-list-table {
  display: block;
  @media $media-not-mobile {
    display: table;
  }
}

.au-dialogs-contacts-list-row {
  display: block;
  font-size: 13px;
  position: relative;
  width: 100%;
  @media $media-not-mobile {
    display: table-row
  }
}

.au-dialogs-contacts-list-row + .au-dialogs-contacts-list-row {
  margin-top: -1px;
  @media $media-not-mobile {
    margin-top: 0;
  }
}

.au-dialogs-contacts-list-hdr-row {
  display: none;
  @media $media-not-mobile {
    display: table-row
  }
}

.au-dialogs-contacts-list-cell {
  display: block;
  @media $media-not-mobile {
    display: table-cell;
    width: auto;
  }
}

.au-dialogs-contacts-list-cell_person {
  padding-right: 46px;
  @media $media-not-mobile {
    padding-right: 8px;
  }
}

.au-dialogs-contacts-list-cell_action {
  position: absolute;
  right: 0;
  top: 0;
  @media $media-not-mobile {
    position: static;
  }
}

