#j .au-dialog-preview-delete-form {
  visibility: hidden;
  position: relative;
}

.au-dialog-preview-delete-form-confirm {
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  z-index: 5;
}
