.au-last-dialogs {
  margin-bottom: 10px;
}

.au-last-dialog-hdr {
  color: $button-border-gray-darker;
  font-size: $font-size-medium;
  margin-bottom: 10px;
}

.au-last-dialog {
  border: 1px solid $brand-blue-ultra-light;
  border-radius: $border-radius-base;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-right: 8px;
  margin-bottom: 6px;
  padding: 4px 24px 4px 4px;
  position: relative;
  vertical-align: top;

  @media $media-medium-screen {
    display: block;
    margin-right: 0;
    max-width: 176px;
  }
}

.au-last-dialog:hover {
  background-color: $brand-blue-ultra-light;
  border-color: $brand-blue-light;
}

.au-last-dialog__person {
  line-height: 1.25;
  position: relative;
  z-index: 1;
}

.au-last-dialog__person .au-person__image {
  top: 0;
}

.au-last-dialog__person .au-person-name__text {
  width: 100%;
}

.au-last-dialog__close {
  display: none;
  right: 4px;
  position: absolute;
  top: 3px;
  z-index: 2;
}

.au-last-dialog:hover  .au-last-dialog__close {
  display: none;
  @media $media-not-mobile {
    display: block;
  }
}

.au-last-dialog__counter {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
}

.au-last-dialog__link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
