.au-dialog-list-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

%au-dialog-list-menu-col {
  margin-bottom: 10px;
}

.au-dialog-list-menu__filter {
  @extend %au-dialog-list-menu-col;
  min-width: 200px;
}

.au-dialog-list-menu__view {
  @extend %au-dialog-list-menu-col;

  @media (max-width: $screen-xs-min) {
    display: none;
  }
}

.au-dialog-list-menu__pages {
  @extend %au-dialog-list-menu-col;
}

.au-dialog-list-menu__pages .au-pager {
  padding: 0;
}