.au-dialog-load-prev {
  font-size: 14px;
  height: 27px;
  line-height: 27px;
  margin: 16px 0;
  text-align: center;
}

.au-dialog-load-prev__link {
  cursor: pointer;
}

.au-dialog-load-prev__loader {
  display: none;
  margin-left: -22px;
  position: relative;
  top: -3px;
}

.au-dialog-load-prev__load-icon {
  margin-right: 4px;
  position: relative;
  top: 6px;
}

.au-dialog-load-prev_inload {
  & .au-dialog-load-prev__link {
    display: none;
  }

  & .au-dialog-load-prev__loader {
    display: inline-block;
  }
}