.au-dialog-message-form {
  @media $media-not-mobile {
    padding-right: 42px;
    position: relative;
  }
}

.au-dialog-message-form__person {
  display: none;

  @media $media-not-mobile {
    display: block;
    height: auto;
    position: absolute;
    right: 0;
    top: 34px;
    width: 32px;
  }
}

.au-dialog-message-form__subject {
  margin-bottom: 2px;
}
