.au-dialog-message-gallery__link {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  vertical-align: baseline;

  &:after {
    border: 3px solid $brand-blue-light;
    content: '';
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover:after {
    display: block;
  }
}

.au-dialog-message-gallery__image {
  border: 0;
  display: block;
  max-height: 72px;
  width: auto;
}