.au-message-box__text .gray80, .au-dialog-preview-message .gray80 {
  display: block;
  font-size: .95em;
  margin-top: 2px;
}

.au-message-box__text .gray80 {
  color: $brand-gray-medium;
}

.au-message-box__text .italic, .au-dialog-preview-message .italic {
  display: block;
  font-style: italic;
  margin-top: 2px;
}

.au-dialog-preview__text p {
  margin-bottom: 0;
  line-height: 1.5;
}

.au-message-box__text .text-image-wrp {
  box-sizing: content-box;
  border: 2px solid transparent;
  display: inline-block;
  height: 80px;
  min-width: 80px;
  overflow: hidden;
  text-align: center;

  &:hover {
    border-color: $brand-blue-light;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 80px;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
  }
}

.au-message-box__text .text-image-wrp + .text-image-wrp {
  margin-left: 12px;
}

.au-message-box__text .text-image {
  display: inline-block;
  max-height: 80px;
  vertical-align: middle;
  width: auto;
}