.au-page__mini-dialog {
  border: 1px solid #bfe6ff;
  padding: 4px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  max-width: 180px;
}

.au-page__mini-dialogs__title {
  color: $button-border-gray-darker;
  font-size: 13px;
  margin-bottom: 10px;
  display: inline-block;
}

.au-page__mini-dialog {
  margin-bottom: 2px;

  &:hover {
    background-color: #dff3ff;
    border-color: #009cff;

    & .au-page__mini-dialog__close {
      display: block;
    }
  }
}

.au-page__mini-dialog__close {
  display: none;
  z-index: 1;
}