.main__wrapper {
  display: block;
}

.main__aside {
  display: none;
}

.main__content {
  display: block;
  width: 100%;
}

.site__sugarloaf {
  display: none;
}

.site__footer {
  display: none;
}
