body {
  padding-top: 0;
}

.site {
  bottom: 0;
  left: 0;
  min-height: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  @media (max-height: $media-minimal-height-max) {
    position: fixed;
  }
}

.site__header {
  flex: none;
  @media $media-not-mobile {
    @supports (display: flex) {
      flex: 0 0 auto;
    }
  }
}

.site__content {
  @media $media-not-mobile {
    @supports (display: flex) {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      min-height: 0;
    }
  }
}

.main {

  padding: 0;

  @media $media-not-mobile {
    padding: 16px 0 0 10px;

    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      min-height: 0;
    }
  }

  @media $media-tablet-vertical {
    padding: 8px 0 0 10px;
  }

}

.main__wrapper {
  @media $media-not-mobile {
    display: flex;
    flex: 1 0 auto;
    min-height: 0;
  }
}

.main__aside {
  @media $media-medium-screen {
    display: block;
  }
}

.main__content {
  @media $media-not-mobile {
    height: 560px;
    position: relative;

    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 0;
    }
  }
}

.au-dialog-list-back {
  font-size: 14px;
  margin-left: 12px;
  left: 0;
  position: absolute;
  top: 50px;
  z-index: 1;

  @media $media-tablet-vertical {
    margin-bottom: 6px;
    position: static;
  }

  @media $media-tablet-horizontal, $media-desktop {
    display: none;
  }
}

.au-dialog-monolith-wrp {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @media $media-not-mobile {
    top: 0;

    @supports (display: flex) {
      flex: 1 0 auto;
      min-height: 0;
      position: relative;
    }
  }
}

.au-dialog-monolith {
  background-color: $brand-gray-ultra;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @media $media-not-mobile {
    top: 0;
  }
}

.au-dialog-monolith__top-panel {
  left: 11px;
  display: none;
  height: 37px;
  position: absolute;
  right: 11px;
  top: 6px;

  @media (min-height: $media-small-height) {
    display: block;
  }
}

.au-dialog-monolith__content-wrp {
  background-color: $brand-white;
  border-radius: $border-radius-base;
  bottom: 92px;
  box-shadow: inset 0 0 6px 0 rgba(146, 148, 151, .75);
  left: 11px;
  overflow: hidden;
  position: absolute;
  right: 11px;
  top: 76px;

  @media $media-not-mobile {
    top: 48px;
  }

  @media $media-not-mobile {
    bottom: 159px;
  }

}

.au-dialog-message-field-focused .au-dialog-monolith__content-wrp {
  bottom: 130px;

  @media $media-not-mobile {
    bottom: 209px;
  }
}

.au-dialog-monolith__form {
  bottom: 0;
  height: 90px;
  left: 11px;
  position: absolute;
  right: 11px;

  @media $media-not-mobile {
    height: 153px;
  }
}

.au-dialog-message-field-focused .au-dialog-monolith__form {
  height: 126px;

  @media $media-not-mobile {
    height: 206px;
  }
}

.au-dialog-monolith__content {
  bottom: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  left: 0;
  padding: 0 6px;
  position: absolute;
  right: 2px;
  top: 3px;

  @media (max-width: $media-big-width-max) {
    -ms-overflow-style: none;
  }
}

.au-dialog-monolith-message-list {
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.au-dialog-monolith-message-list_top {
  position: static;
}
