.au-dialog-opponent-panel {
  @supports (display: flex) {
    display: flex;
    align-items: center;
  }
}

.au-dialog-opponent-panel__person {
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
}

.au-dialog-opponent-panel__actions {
  display: inline-block;
  margin-left: auto;
  vertical-align: middle;
}

.au-dialog-opponent-panel__action {
  display: inline-block;
  margin-left: 3px;
  position: relative;
  vertical-align: middle;

  @media (max-width: $media-big-width-max) {
    display: block;
    margin-left: 0;
  }
}

.au-dialog-opponent-panel__action .au-control-btn {
  @media (max-width: $media-big-width-max) {
    border: 0;
    border-radius: 0;
    display: block;
    height: auto;
    padding: 8px 10px;
    text-align: left;
    width: 100%;
  }
}

.au-dialog-opponent-panel__actions .au-droplet__cnt {
  @media (max-width: $media-big-width-max) {
    width: 170px;
  }
}

.au-dialog-opponent-panel__actions .au-droplet_open {
  @media (min-width: $media-big-width) {
    box-shadow: none;
  }
}

.au-dialog-opponent-panel__actions .au-droplet-btn_type_open {
  @media (min-width: $media-big-width) {
    display: none;
  }
}

.au-dialog-opponent-panel-delete-confirm {
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  z-index: 2;
}
