.au-dialog-preview {
  border-bottom: 1px dotted $button-border-gray-darker;
  padding: 12px 40px 12px 28px;
  position: relative;
  width: 100%;

  @media (min-width: $media-small-width) {
    padding: 12px 40px 12px 8px;

    @supports (display: flex) {
      display: flex;
      flex-wrap: nowrap;
      padding: 12px 8px;
    }
  }

  &:hover {
    background-color: $brand-blue-ultra-light;

    & .au-dialog-preview__manage--hidden {
      visibility: visible;
    }
  }
}

.au-dialog-preview_compact {
  padding: 4px 6px 4px 28px;

  @media (min-width: $media-small-width) {
    padding: 4px 6px;
  }
}

.au-dialog-preview__text {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $media-small-width) {
    display: inline-block;
    margin-right: 4%;
    overflow: hidden;
    vertical-align: top;
    width: 50%;

    @supports (display: flex) {
      flex: 1;
      flex-basis: 68%;
      margin-bottom: 0;
      margin-right: 2%;
      max-width: 100%;
      flex-grow: 1;
      order: 1;
      width: auto;
    }
  }
}

.au-dialog-preview_compact .au-dialog-preview__text {
  margin-right: 40px;
  max-height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
}

.au-dialog-preview__time {
  display: inline-block;
  margin-right: 8%;
  vertical-align: top;

  @media (min-width: $media-small-width) {
    @supports (display: flex) {
      flex-basis: 72px;
      order: 2;
      margin-right: 3%;
      margin-top: 0;
    }
  }
}

.au-dialog-preview__sender {
  display: inline-block;
  vertical-align: top;

  @media (min-width: $media-small-width) {
    display: inline-block;
    cursor: pointer;
    margin-top: 0;
    min-width: 130px;

    @supports (display: flex) {
      flex-basis: 302px;
      order: 3;
    }
  }
}

.au-dialog-preview__sender .au-person {
  z-index: 3;
}

.au-dialog-preview__status {
  box-sizing: content-box;
  display: inline-block;
  left: 0;
  position: absolute;
  padding-right: 12px;
  top: 12px;
  vertical-align: top;
  width: 22px;

  @media (min-width: $media-small-width) {
    position: static;

    @supports (display: flex) {
      flex-basis: 22px;
      order: 0;
      width: auto;
      margin-right: 12px;
      padding-right: 0;
    }
  }
}

.au-dialog-preview__manage {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;

  @media (min-width: $media-small-width) {
    min-width: 30px;

    @supports (display: flex) {
      flex-basis: 30px;
      order: 4;
      position: static;
      right: auto;
      top: auto;
    }
  }
}

.au-dialog-preview__manage--hidden {
  visibility: hidden;
}

.au-dialog-preview__in-icon {
  height: 12px;
  width: 14px;
}

.au-dialog-preview__out-icon {
  height: 14px;
  width: 18px;
}

.au-dialog-preview-title {
  color: $brand-black;
  font-size: 13px;
  line-height: 1.3;
}

.au-dialog-preview-title_compact {
  display: inline;
}

.au-dialog-preview-title_unread {
  font-weight: bold;
}

.au-dialog-preview-message {
  color: $brand-gray-medium;
  font-size: 13px;
}

.au-dialog-preview-message_view_full {
  max-height: 2.8em;
  overflow: hidden;
}

.au-dialog-preview-message_view_compact {
  display: inline;
  margin-left: 8px;
}

.au-dialog-preview-message_view_full .text-image, 
.au-dialog-preview-message_view_full .sticker-image, 
.au-dialog-preview-message_view_compact .text-image, 
.au-dialog-preview-message_view_compact .sticker-image {
  height: auto;
  max-width: 75px;
  width: auto;
}

.au-dialog-preview-message_view_full .text-image, .au-dialog-preview-message_view_full .sticker-image {
  max-height: 50px;
}

.au-dialog-preview-message_view_compact .text-image, .au-dialog-preview-message_view_compact .sticker-image {
  max-height: 2em;
}

.au-dialog-preview-message_view_compact br:first-child + .sticker-image {
  margin-top: -3em;
}

.au-dialog-preview-message_link {
  position: relative;
  z-index: 3;
}

.au-dialog-preview-delete-btn {
  position: relative;
  z-index: 3;
}

.au-dialog-preview-message_out {
  color: #c65e17;
}

a.au-dialog-preview-message_out {
  color: #c65e17;

  &:hover {
    text-decoration: none;
  }
}

a.au-dialog-preview-message_in {
  &:hover {
    text-decoration: none;
  }
}

.au-dialog-preview__text .au-dialog-preview-title {
  margin-bottom: 4px;
}

.au-dialog-preview__time-short {
  display: none;
}

.au-dialog-preview__time-full, .au-dialog-preview__time-date {
  display: inline-block;
}

.au-dialog-preview__time-date {
  margin-left: 4px;
}

@media (min-width: $media-small-width) {
  .au-dialog-preview__time-full, .au-dialog-preview__time-date {
    display: block;
  }

  .au-dialog-preview__time-date {
    margin-left: 0;
  }
}

.au-dialog-preview_compact {
  & .au-dialog-preview__time-short {
    display: block;
  }

  & .au-dialog-preview__time-full {
    display: none;
  }

  & .au-dialog-preview__time-date {
    display: none;
  }
}

.au-dialog-preview-link-phantom {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
