.au-dialog-subject-form {
  margin-bottom: 6px;
  min-height: 30px;
  padding-right: 30px;
  position: relative;
}

.au-dialog-subject-form__subject {
  display: inline-block;
  font-size: $font-size-base;
  line-height: 1;
  max-width: 100%;
  padding: 8px 4px 0 12px;
  text-decoration: underline;
}

.au-dialog-subject-form__placeholder-subject {
  color: $brand-gray-light;
}

.au-dialog-subject-form__input {
  width: 100%;
}

.au-dialog-subject-form__button {
  position: absolute;
  right: 0;
  top: 0;
}