.au-dialog-subject {
  color: $brand-gray-medium;
  font-size: $font-size-small;
}

.au-dialog-subject-message {
  border-top: 1px dotted $button-border-gray;
  margin-bottom: 8px;
  padding-top: 8px;
  position: relative;
}

.au-dialog-subject-message__label {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 70px;
}

.au-dialog-subject-message__text {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.au-dialog-subject-message_empty {
  margin: 28px 0 0 0;
}

.au-dialog-subject-form {
  min-height: 30px;
  padding-right: 30px;
  position: relative;
}

.au-dialog-subject-form__value {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  max-width: 100%;
  overflow: hidden;
  padding-right: 112px;
  vertical-align: middle;
  white-space: nowrap;
}

.au-dialog-subject-form__switch-button {
  background-color: $brand-gray-ultra;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-medium;
  height: 30px;
  line-height: 32px;
  margin-left: -112px;
  padding-left: 12px;
  vertical-align: middle;
  width: 112px;
}

.au-dialog-subject-form__value-empty {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.au-dialog-subject-form__value-empty + .au-dialog-subject-form__switch-button {
  margin-left: 0;
  padding-left: 0;
}

.au-dialog-subject-form__label {
  margin-right: 6px;
}

.au-dialog-subject-form__change-btn {
  font-size: $font-size-small;
}
