.au-dialog-topic {
  color: $brand-toolbar-black;
  font-size: 16px;
  margin: 18px 0 12px 0;
  position: relative;
  text-align: center;

  &:after {
    background-color: $brand-gray-light;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: .75em;
    width: 100%;
    z-index: 1;
  }
}

.au-dialog-topic__text {
  background-color: #fff;
  display: inline-block;
  padding: 0 8px;
  position: relative;
  z-index: 2;
}

.au-dialog-topic-empty {
  margin: 36px 0 12px 0;
}