@import "global-mixins-vars.scss";

.au-advance-pack-mini-form_content-align {
  @media (min-width: $media-small-width-minus) {
    height: 100%;
    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.au-advance-pack-mini-form__prices {
  @media (min-width: $media-small-width-minus) {
    @supports (display: flex) {
      margin-top: auto;
    }
  }
}
