@import "global-mixins-vars.scss";

.au-advance-pack-mini-form {
  background-color: $brand-white;
  border: 1px solid $button-border-gray;
  position: relative;
  padding: 12px;
}

.au-advance-pack-mini-form_view_lot {
  padding: 12px 100px 12px 12px;
  @media (min-width: $media-small-width-minus) {
    border-radius: $brand-border-radius-big;
    padding: 12px 12px 36px 12px;
  }
  @media (min-width: $media-big-width) {
    padding: 12px;
  }
}

.au-advance-pack-form-group__item:first-child .au-advance-pack-mini-form {
  border-radius: $brand-border-radius-big $brand-border-radius-big 0 0;
  @media (min-width: $media-small-width-minus) {
    border-radius: $brand-border-radius-big;
  }
}

.au-advance-pack-form-group__item:last-child .au-advance-pack-mini-form {
  border-radius: 0 0 $brand-border-radius-big $brand-border-radius-big;
  @media (min-width: $media-small-width-minus) {
    border-radius: $brand-border-radius-big;
  }
}

.au-advance-pack-mini-form_green {
  @media (min-width: $media-small-width-minus) {
    border-color: $brand-green;
  }
}

.au-advance-pack-mini-form_blue {
  @media (min-width: $media-small-width-minus) {
    border-color: $brand-blue-light;
  }
}

.au-advance-pack-mini-form_orange {
  @media (min-width: $media-small-width-minus) {
    border-color: $brand-orange;
  }
}

.au-advance-pack-mini-form__title {
  margin: 0 0 2px 0;
  white-space: nowrap;
  @media (min-width: $media-small-width-minus) {
    margin-bottom: 4px;
  }
}

.au-advance-pack-mini-form__title-text {
  margin-right: 4px;
  white-space: normal;
}

.au-advance-pack-mini-form__info-sign {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0;
  vertical-align: middle;
}

.au-advance-pack-mini-form__desc {
  display: none;
  margin-bottom: 8px;
  @media (min-width: $media-small-width-minus) {
    display: block;
  }
}

.au-advance-pack-mini-form__desc .au-list {
  margin-bottom: 0;
}

.au-advance-pack-mini-form__desc + .au-advance-pack-mini-form__desc {
  margin-top: 8px;
}

.au-advance-pack-mini-form__order {
  @media (min-width: $media-big-width) {
    @supports (display: flex) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.au-advance-pack-mini-form__prices {
  margin-bottom: 8px;
}

.au-advance-pack-mini-form_view_lot .au-advance-pack-mini-form__prices {
  @media (min-width: $media-big-width) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.au-advance-pack-mini-form__price-measure {
  display: inline-block;
}

.au-advance-pack-mini-form__submit {
  bottom: 50%;
  margin-bottom: -14px;
  position: absolute;
  right: 12px;
}

.au-advance-pack-mini-form_view_lot .au-advance-pack-mini-form__submit {
  @media (min-width: $media-small-width-minus) {
    bottom: 8px;
    left: 12px;
    margin-bottom: 0;
    right: auto;
  }
  @media (min-width: $media-big-width) {
    position: static;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.au-advance-pack-mini-form__price-old,
.au-advance-pack-mini-form__price-new {
  display: inline-block;
  line-height: 1;
  margin-bottom: 4px;
}

.au-advance-pack-mini-form__price-old {
  margin-right: 8px;
}
