@import "global-mixins-vars.scss";

.au-advance-pack-info__section {
  margin-bottom: 16px;
}

.au-advance-pack-info__label {
  margin-bottom: 6px;
}

.au-advance-pack-info__services-list {
  margin-left: 10px;
}
