.au-upgrade-tariff-panel-form__title {
  font-size: inherit;
  line-height: 1.5;
  margin: 0 0 12px 0;
}

.au-upgrade-tariff-panel-form__tariffs,
.au-upgrade-tariff-panel-form__help {
  display: inline-block;
}
