.au-advance-pack-form-group {
  @media (min-width: $media-small-width-minus) {
    margin-left: -16px;
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.au-advance-pack-form-group__item {
  margin-bottom: -1px;
  @media (min-width: $media-small-width-minus) {
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 16px;
    vertical-align: top;
    width: 33.33%;
    @supports (display: flex) {
      flex: 1;
      max-width: 33.33%;
      width: auto;
    }
  }
}
