@import "global-mixins-vars.scss";

.au-tariff-section_upgrade {
  border-top: 1px solid $button-border-gray;
  margin-bottom: 8px;
}

.au-tariff-section_prolongate + .au-tariff-section_upgrade {
  margin-top: -8px;
}
