@import "global-mixins-vars.scss";

.au-advance-pack-days-order__message {
  margin-bottom: 16px;
}

.au-advance-pack-days-order-form__submit {
  margin-top: 8px;
}

.au-advance-pack-days-order__error-close {
  text-align: right;
}

.au-advance-pack-days-order-form__discount {
  color: $brand-green-dark;
  font-size: $font-size-xs;
}

.au-offer-button_disabled  .au-advance-pack-days-order-form__discount {
  color: $button-border-gray-darker;
}
