@import "global-mixins-vars.scss";

.au-snack-bar-wrapper {
  display: block;
  line-height: 1;
  position: fixed;
  width: 100%;
  z-index: 1001;
  @media (min-width: $media-small-width) {
    display: inline-block;
    width: auto;
  }
}

.au-snack-bar-wrapper_hidden {
  visibility: hidden;
}

.au-snack-bar_bottom {
  bottom: 0;
}

.au-snack-bar-wrapper_top {
  top: 0;
}

.au-snack-bar-wrapper_bottom.au-snack-bar-wrapper_transition {
  transition-property: bottom;
  transition-duration: 250ms;
}

.au-snack-bar-wrapper_top.au-snack-bar-wrapper_transition {
  transition-property: top;
  transition-duration: 250ms;
}

.au-snack-bar-wrapper_bottom {
  @media (min-width: $media-small-width) {
    bottom: 12px;
  }
}

.au-snack-bar-wrapper_top {
  @media (min-width: $media-small-width) {
    top: 12px;
  }
}

.au-snack-bar-wrapper_left {
  @media (min-width: $media-small-width) {
    left: 12px;
  }
}

.au-snack-bar-wrapper_center {
  @media (min-width: $media-small-width) {
    left: 50%;
    margin-left: -200px;
  }
}

.au-snack-bar-wrapper_right {
  @media (min-width: $media-small-width) {
    right: 12px;
  }
}

.au-snack-bar-wrapper .au-snack-bar {
  display: block;
  @media (min-width: $media-small-width) {
    display: inline-block;
    min-width: 400px;
  }
}

.au-snack-bar {
  background-color: $brand-toolbar-highlighted;
  border: 3px;
  color: #fff;
  display: inline-block;
  font-size: $font-size-big;
  line-height: 1.3;
  padding: 10px 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  transition-property: background-color;
  transition-duration: 150ms;
}

.au-snack-bar_success {
  background-color: $brand-green;
}

.au-snack-bar_warning {
  background-color: $brand-orange;
}

.au-snack-bar_error {
  background-color: $brand-red;
}

.au-snack-bar-action {
  @supports (display: flex) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.au-snack-bar-close__content, .au-snack-bar-close__button {
  display: inline-block;
  max-width: 400px;
  vertical-align: middle;
}

.au-snack-bar-close__button {
  margin-left: 16px;
}

.au-snack-bar-close-btn {
  font-size: $font-size-small;
  font-weight: bold;
  letter-spacing: .01em;
  text-transform: uppercase;
}
