.au-icon_guild-circle-crown {
  border-radius: 50%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  height: 16px;
  position: relative;
  width: 16px;
}

.au-icon_guild-circle-crown:after {
  background-image: url('./crown.svg');
  content: '';
  display: block;
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}

.au-icon_guild_text {
  border-radius: 1.6px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  color: $brand-white;
  cursor: default;
  font-family: $font-family-sans-serif-alternate;
  font-size: 8px;
  font-weight: 700;
  height: 12px;
  letter-spacing: 0.3px;
  line-height: 12px;
  padding: 0 3px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
  white-space: nowrap;
}
