@define-mixin au-icon_guild-state_hovered $color {
  background-color: color($color shade(20%));
  box-shadow: 0 1px 1px color($color a(15%));
}

@define-mixin au-icon_guild-state_pressed $color {
  box-shadow: 0 0 0 2px color($color a(25%));
}

@define-mixin au-icon_guild-color_scheme $color {
  cursor: pointer;

  &:hover {
    @add-mixin au-icon_guild-state_hovered $color;
  }
  &:active,
  &:focus {
    @add-mixin au-icon_guild-state_pressed $color;
  }
}

.au-icon_guild-color_comfort {
  background-color: $brand-color-guild-comfort;
}

.au-icon_guild-color_standard {
  background-color: $brand-color-guild-standard;
}

.au-icon_guild-color_premium {
  background-color: $brand-color-guild-premium;
}

.au-icon_guild-color_expired {
  background-color: $brand-color-guild-expired;
}

.au-icon_guild-color_inactive {
  background-color: $brand-color-guild-inactive;
}

a.au-person__icon, button.au-person__icon {
  .au-icon_guild-color_comfort {
    @add-mixin au-icon_guild-color_scheme $brand-color-guild-comfort;
  }
  .au-icon_guild-color_standard {
    @add-mixin au-icon_guild-color_scheme $brand-color-guild-standard;
  }
  .au-icon_guild-color_premium {
    @add-mixin au-icon_guild-color_scheme $brand-color-guild-premium;
  }
  .au-icon_guild-color_expired {
    @add-mixin au-icon_guild-color_scheme $brand-color-guild-expired;
  }
  .au-icon_guild-color_inactive {
    @add-mixin au-icon_guild-color_scheme $brand-color-guild-inactive;
  }
}
